<!-- Encabezado superior de la página -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- Título que aparece en la barra superior -->
    <ion-title>
      Tablón "Peor es Nada" ¯\_ (ᵕ—ᴗ—)_/¯
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido principal de la página -->
<ion-content [fullscreen]="true">

 <!-- Barra de búsqueda -->
<ion-searchbar
  placeholder="Buscar aviso (mascota, documentos...)"
  (ionInput)="buscarAviso($event)"
  [debounce]="1000">
</ion-searchbar>

  <!-- Componente hijo que muestra la lista de avisos -->
  <!-- Recibe el array 'avisos' y emite el evento alEliminarAviso -->
  <app-lista-avisos 
    [avisos]="avisos" 
    (alEliminarAviso)="eliminarAvisoDesdeTablon($event)">
  </app-lista-avisos>

  <!-- Botón flotante (FAB) para crear un nuevo aviso -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/crear-aviso">
      <!-- Ícono de "add" registrado en home.page.ts -->
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


